:root {
    --m-color-body: 255, 255, 255;
    --m-color-body-l-1: 255, 255, 255;
    --m-color-body-d-1: 251, 251, 251;
    --m-color-body-l-2: 255, 255, 255;
    --m-color-body-d-2: 245, 245, 245;
    --m-color-body-l-3: 255, 255, 255;
    --m-color-body-d-3: 236, 236, 236;
    --m-color-body-l-4: 255, 255, 255;
    --m-color-body-d-4: 224, 224, 224;
    --m-color-body-l-5: 255, 255, 255;
    --m-color-body-d-5: 209, 209, 209;
    --m-color-invert: 17, 17, 17;
    --m-color-invert-l-1: 25, 25, 25;
    --m-color-invert-d-1: 13, 13, 13;
    --m-color-invert-l-2: 40, 40, 40;
    --m-color-invert-d-2: 7, 7, 7;
    --m-color-invert-l-3: 63, 63, 63;
    --m-color-invert-d-3: 0, 0, 0;
    --m-color-invert-l-4: 94, 94, 94;
    --m-color-invert-d-4: 0, 0, 0;
    --m-color-invert-l-5: 132, 132, 132;
    --m-color-invert-d-5: 0, 0, 0;
    --m-color-primary: 50, 34, 143;
    --m-color-primary-l-1: 58, 42, 151;
    --m-color-primary-d-1: 48, 32, 138;
    --m-color-primary-l-2: 73, 57, 166;
    --m-color-primary-d-2: 44, 30, 128;
    --m-color-primary-l-3: 96, 80, 189;
    --m-color-primary-d-3: 39, 26, 113;
    --m-color-primary-l-4: 127, 111, 220;
    --m-color-primary-d-4: 32, 22, 93;
    --m-color-primary-l-5: 165, 149, 255;
    --m-color-primary-d-5: 24, 16, 68;
    --m-color-white: 255, 255, 255;
    --m-color-white-l-1: 255, 255, 255;
    --m-color-white-d-1: 251, 251, 251;
    --m-color-white-l-2: 255, 255, 255;
    --m-color-white-d-2: 245, 245, 245;
    --m-color-white-l-3: 255, 255, 255;
    --m-color-white-d-3: 236, 236, 236;
    --m-color-white-l-4: 255, 255, 255;
    --m-color-white-d-4: 224, 224, 224;
    --m-color-white-l-5: 255, 255, 255;
    --m-color-white-d-5: 209, 209, 209;
    --m-color-black: 17, 17, 17;
    --m-color-black-l-1: 25, 25, 25;
    --m-color-black-d-1: 13, 13, 13;
    --m-color-black-l-2: 40, 40, 40;
    --m-color-black-d-2: 7, 7, 7;
    --m-color-black-l-3: 63, 63, 63;
    --m-color-black-d-3: 0, 0, 0;
    --m-color-black-l-4: 94, 94, 94;
    --m-color-black-d-4: 0, 0, 0;
    --m-color-black-l-5: 132, 132, 132;
    --m-color-black-d-5: 0, 0, 0;
    --m-color-orange: 249, 161, 6;
    --m-color-orange-l-1: 255, 169, 14;
    --m-color-orange-d-1: 243, 157, 5;
    --m-color-orange-l-2: 255, 184, 29;
    --m-color-orange-d-2: 231, 149, 5;
    --m-color-orange-l-3: 255, 207, 52;
    --m-color-orange-d-3: 213, 137, 5;
    --m-color-orange-l-4: 255, 238, 83;
    --m-color-orange-d-4: 189, 122, 4;
    --m-color-orange-l-5: 255, 255, 121;
    --m-color-orange-d-5: 159, 103, 3;
    --m-color-red: 243, 47, 71;
    --m-color-red-l-1: 251, 55, 79;
    --m-color-red-d-1: 242, 41, 65;
    --m-color-red-l-2: 255, 70, 94;
    --m-color-red-d-2: 241, 29, 55;
    --m-color-red-l-3: 255, 93, 117;
    --m-color-red-d-3: 239, 13, 41;
    --m-color-red-l-4: 255, 124, 148;
    --m-color-red-d-4: 216, 12, 37;
    --m-color-red-l-5: 255, 162, 186;
    --m-color-red-d-5: 187, 10, 32;
}
